# Entorno virtual
.venv/

# Archivos temporales
__pycache__/
*.pyc
.ipynb_checkpoints/

# Configuración de VS Code
.vscode/

# Datos del proyecto
datos/
resultados/

# Archivos del sistema
.DS_Store
Thumbs.db